<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>权限分配</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="__STATIC__/admin/js/jquery.js"></script>
</head>

<body>
    <div class="place">
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">表单</a></li>
        </ul>
    </div>
    <div class="formbody">
        <div class="formtitle"><span>基本信息【<a href="javascript:;">返回</a>】</span></div>
        <form action="" method="post">
            <span style="font-size: 16px">您正在给【<label style="color: red;font-weight: bolder;">{$roles.role_name}</label>】设置权限</span>
            <ul class="forminfo">
                <table class="tablelist">
                    <thead>
                        <tr>
                            <th>权限分类</th>
                            <th>权限</th>
                        </tr>
                    </thead>
                    <tbody>
                        {foreach $auths as $auth}
                        {if $auth.auth_pid==0}
                            <tr>
                                <td>
                                    <input type="checkbox" class="chk" name="authIds[]" value="{$auth.auth_id}"
                                    {:in_array($auth.auth_id,$role)?'checked':''}>{$auth.auth_name}&emsp;
                                </td>
                                <td>
                                    {foreach $auths as $aut}
                                    {if $aut.auth_pid==$auth.auth_id}
                                    <input type="checkbox" class="child" name="authIds[]" value="{$aut.auth_id}"  
                                    {:in_array($aut.auth_id,$role)?'checked':''}>
                                    {$aut.auth_name}&emsp;
                                    {/if}
                                {/foreach}
                            </tr>
                            {/if}
                           {/foreach}
                    </tbody>
                </table>
                <br/>
                <li>
                    <input name="" id="btnSubmit" type="submit" class="btn" value="确认保存" />
                    
                    <input name="" onclick="window.history.back()" type="button" class="btn" value="返回" />
                </li>
            </ul>
        </form>
    </div>
</body>
<script type="text/javascript">
//jQuery代码
$(function(){
    //给btnsubmit绑定点击事件
    $('#btnSubmit').on('click',function(){
        //表单提交
        $('form').submit();
    });
    //全选&反选
    $('.chk').click(function(){
    	var status = $(this).attr('checked');
    	if(status == 'checked'){
    		$(this).parent().parent().find("td:eq(1)").find("input").attr("checked","checked");
    	}else{
    		$(this).parent().parent().find("td:eq(1)").find("input").removeAttr("checked");
    	}
    });
    //补选父级
    $('.child').click(function(){
    	var currentChildStatus = $(this).attr('checked');
    	var _parent = $(this).parent().parent().find("td:eq(0)").find("input");
    	if(currentChildStatus == 'checked'){
    		_parent.attr("checked","checked");
    	}else{
    		var selectChkBox = $(this).parent().find(":checkbox:checked");
    		if(selectChkBox.length == '0'){
    			_parent.removeAttr("checked");
    		}
    	}
    });
});
</script>
</html>
