{extend name="common/layout" /}

{block name="main"}
	<!--主内容-->
	<div class="cart py-container">
		<!--All goods-->
		<script>
		
			function get(){
				if($('#all').is(':checked')){
					$('.cart-list input[type=checkbox]').prop('checked',true);
					sab();
				}else{
					$('.cart-list input[type=checkbox]').prop('checked',false);
					sab();
				}
					
				
				
			}

		</script>
		<div class="allgoods">
			<h4>全部商品<span>11</span></h4>
			<div class="cart-main">
				<div class="yui3-g cart-th">
					<div class="yui3-u-1-4"><input type="checkbox" name="" id="all" value="" onclick="get()"/> 全部</div>
					<div class="yui3-u-1-4">商品</div>
					<div class="yui3-u-1-8">单价（元）</div>
					<div class="yui3-u-1-8">数量</div>
					<div class="yui3-u-1-8">小计（元）</div>
					<div class="yui3-u-1-8">操作</div>
				</div>
				<div class="cart-item-list">
					<div class="cart-shop">
						<input type="checkbox" name="" id="" value="" />
						<span class="shopname self">传智自营</span>
					</div>
					<div class="cart-body">
						
						<!-- 
						<div class="cart-list">
							<ul class="goods-list yui3-g">
								<li class="yui3-u-1-24">
									<input type="checkbox" class="row_check" name="" id="" value="" />
								</li>
								<li class="yui3-u-6-24">
									<div class="good-item">
										<div class="item-img"><img src="__STATIC__/home/img/goods.png" /></div>
										<div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
									</div>
								</li>
								<li class="yui3-u-5-24">
									<div class="item-txt">颜色MzcBook爱人 银色（Corei5）处理器/8GB内存 尺寸：13.3英寸</div>
								</li>
								<li class="yui3-u-1-8"><span class="price">8848.00</span></li>
								<li class="yui3-u-1-8">
									<a href="javascript:void(0)" class="increment mins">-</a>
									<input autocomplete="off" type="text" value="1" minnum="1" class="itxt current_number" />
									<a href="javascript:void(0)" class="increment plus">+</a>
								</li>
								<li class="yui3-u-1-8"><span class="sum">8848.00</span></li>
								<li class="yui3-u-1-8">
									<a href="#none" class="delete">删除</a><br />
									<a href="#none">移到我的关注</a>
								</li>
							</ul>
						</div> -->
						{foreach $carts as $k=>$cart}
						
						<div class="cart-list" id="{$k}">
							<ul class="goods-list yui3-g">
								<li class="yui3-u-1-24">
									<input type="checkbox" class="row_check" name="" id="" value="" onclick="sab()"/>
								</li>
								<li class="yui3-u-6-24">
									<div class="good-item">
										<div class="item-img"><img src="__ROOT__/uploads/{$cart.goodsinfo.goods_small_logo}" /></div>
										<div class="item-msg">{$cart.goodsinfo.goods_name}</div>
									</div>
								</li>
								<li class="yui3-u-5-24">
									<div class="item-txt">
										{foreach $cart.goods_attr as $attrs}
													{$attrs.attr_name} : {$attrs.attr_value}</br>
										{/foreach}
									</div>
								</li>
								<li class="yui3-u-1-8"><span id="price"class="price{$k}">{$cart.goodsinfo.goods_price}</span></li>
								<li class="yui3-u-1-8">
									<a href="javascript:void(0)" id="mins{$k}" class="increment mins" onclick="">-</a>
									<input autocomplete="off" type="text" value="{$cart.goods_number}" minnum="1" id="itxt{$k}" class="itxt current_number" />
									<a href="javascript:void(0)" id="plus{$k}" class="increment plus">+</a>
								</li>
								<li class="yui3-u-1-8"><span class="sum"></span></li>
								<li class="yui3-u-1-8">
									<a href="#none" class="delete" >删除</a><br />
									<a href="#none">移到我的关注</a>
								</li>
							</ul>
						</div>
						<script>

									$('#plus{$k}').click(function(){
									var number=parseInt($('#itxt{$k}').val());
									$('#itxt{$k}').val(number+1);
									sum();
									sab()
								});
								$('#mins{$k}').click(function(){
									var number=parseInt($('#itxt{$k}').val());
									if(number == 1){
										return;
									}
									$('#itxt{$k}').val(number-1);
									sum();
									sab()
								});
								$('#itxt{$k}').keyup(function(){
									 var number = $(this).val().replace(/[^0-9]+/, '');
									 if(number == ''){
									 	number=1;
									 }
									 $(this).val(parseInt(number));
									 sum();
									sab()
								});

						</script>
						{/foreach}
					</div>
				</div>
			</div>
			<script>
				function sum(){
					var div=$('.cart-list');
					var totalsum=0;
					var number=0;
					$.each(div,function(){
						var pirce=$(this).find('#price').html();
						
						var number=$(this).find('input:eq(1)').val();
						
							totalsum=pirce*number;
							
							$(this).find('.sum').html(totalsum);
						});
				}
				
			function sab(){
				var div=$('input:checked').parents('.cart-list');
				var siz=div.size();
				var sum=0;
				$.each(div,function(k,item){
					var number=$(this).find('.sum').html();
					sum=sum+parseInt(number);
					
				});
				$('#total_number').html(siz);
				$('.cart-tool i#total_price').html(sum)
			}
			sum();

		

					
			</script>
			<div class="cart-tool">
				<div class="select-all">
					<input type="checkbox" class="check_all" name="" value="" />
					<span>全选</span>
				</div>
				<div class="option">
					<a href="#none">删除选中的商品</a>
					<a href="#none">移到我的关注</a>
					<a href="#none">清除下柜商品</a>
				</div>
				<div class="money-box">
					<div class="chosed">已选择<span id="total_number"></span>件商品</div>
					<div class="sumprice">
						<span><em>总价（不含运费） ：</em>¥<i id="total_price" class="summoney"></i></span>
						<span><em>已节省：</em><i>-¥0</i></span>
					</div>
					<div class="sumbtn">
						<a class="sum-btn" href="javascript:;" target="_blank">结算</a>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="deled">
				<span>已删除商品，您可以重新购买或加关注：</span>
				<div class="cart-list del">
					<ul class="goods-list yui3-g">
						<li class="yui3-u-1-2">
							<div class="good-item">
								<div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
							</div>
						</li>
						<li class="yui3-u-1-6"><span class="price">8848.00</span></li>
						<li class="yui3-u-1-6">
							<span class="number">1</span>
						</li>
						<li class="yui3-u-1-8">
							<a href="#none">重新购买</a>
							<a href="#none">移到我的关注</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="liked">
				<ul class="sui-nav nav-tabs">
					<li class="active">
						<a href="#index" data-toggle="tab">猜你喜欢</a>
					</li>
					<li>
						<a href="#profile" data-toggle="tab">特惠换购</a>
					</li>
				</ul>
				<div class="clearfix"></div>
				<div class="tab-content">
					<div id="index" class="tab-pane active">
						<div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
							<div class="carousel-inner">
								<div class="active item">
									<ul>
										<li>
											<img src="__STATIC__/home/img/like1.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
										<li>
											<img src="__STATIC__/home/img/like2.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
										<li>
											<img src="__STATIC__/home/img/like3.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
										<li>
											<img src="__STATIC__/home/img/like4.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
									</ul>
								</div>
								<div class="item">
									<ul>
										<li>
											<img src="__STATIC__/home/img/like1.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
										<li>
											<img src="__STATIC__/home/img/like2.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
										<li>
											<img src="__STATIC__/home/img/like3.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
										<li>
											<img src="__STATIC__/home/img/like4.png" />
											<div class="intro">
												<i>Apple苹果iPhone 6s (A1699)</i>
											</div>
											<div class="money">
												<span>$29.00</span>
											</div>
											<div class="incar">
												<a href="#" class="sui-btn btn-bordered btn-xlarge btn-default"><i class="car"></i><span class="cartxt">加入购物车</span></a>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a>
							<a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
						</div>
					</div>
					<div id="profile" class="tab-pane">
						<p>特惠选购</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- 底部栏位 -->
	<!--页面底部-->
	{/block}