<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>商品列表</title>
    <link href="__STATIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__STATIC__/admin/js/jquery.js"></script>
</head>

<body>
    <div class="place"> 
        <span>位置：</span>
        <ul class="placeul">
            <li><a href="#">首页</a></li>
            <li><a href="#">数据表</a></li>
            <li><a href="#">基本内容</a></li>
        </ul>
    </div>
    <div class="rightinfo">
        <div class="tools">
            <ul class="toolbar">
              <a href="{:url('Goods/add')}">  <li><span><img src="__STATIC__/admin/images/t01.png" /></span>添加</li></a>
                <li><span><img src="__STATIC__/admin/images/t03.png" /></span>删除</li>
                <li><span><img src="__STATIC__/admin/images/t04.png" /></span>统计</li>
            </ul>
        </div>
        <table class="tablelist">
            <thead>
                <tr>
                    <th>
                        <input name="" type="checkbox" value="" id="checkAll" />
                    </th>
                    <th>编号</th>
                    <th width="50">图片</th>
                    <th>商品名称</th>
                    <th>商品数量</th>
                    <th>商品价格</th>
                    <th>促销价</th>
                    <th>发布时间</th>
                    <th>是否显示</th>
                    <th>是否新品</th>
                    <th>是否热卖</th>
                    <th>是否推荐</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {foreach $goods as $good}
                <tr>
                    <td>
                        <input name="" type="checkbox" value="" />
                    </td>
                    <td>{$good.goods_id}</td>
                    <td>
                        {if $good.goods_small_logo}
                        <img src="__ROOT__/uploads/{$good.goods_small_logo}" width="50" height="50">
                        {/if}
                    </td>
                    <td>{$good.goods_name}</td>
                    <td>{$good.goods_number}</td>
                    <td>{$good.goods_price}</td>
                    <td>{$good.goods_discount_price}</td>
                    <td>{$good.created_at}</td>
                    <td>
                        {if $good['display']}
                            <font color="green">显示</font>
                        {else}
                            <font color="red">隐藏</font>
                        {/if}
                    </td>
                    <td>
                            {if $good['is_new']}
                                <font color="green">√</font>
                            {else}
                                <font color="red">×</font>
                            {/if}
                     </td>
                    <td>
                                {if $good['is_hot']}
                                    <font color="green">√</font>
                                {else}
                                    <font color="red">×</font>
                                {/if}
                     </td>
                     <td>
                                    {if $good['is_best']}
                                        <font color="green">√</font>
                                    {else}
                                        <font color="red">×</font>
                                    {/if}
                    </td>
                    <td>
                        <a href="{:url('Goodspics/add',['goodsId'=>$good['goods_id']
                            ])}" class="tablelink"> 相册</a>
                        <a href="{:url('Goods/edit',['goodsId'=>$good['goods_id']])}" class="tablelink">修改</a> 
                        <a href="{:url('Goods/delete',['goodsId'=>$good['goods_id'],'currentPage'=>$goods->currentPage()
                            ])}" class="tablelink"> 删除</a>
                    </td>
                </tr>
               {/foreach}
                
            </tbody>
        </table>
        <div class="pagin" style="position:relative">
            <div class="message" style="position:absolute;top: 29px;right: 7px;">共<i class="blue">{$goods->total()}</i>
                条记录，当前显示第<i class="blue">{$goods->currentPage()}</i>页&nbsp;
                共<i class="blue">{$goods->lastPage()}</i>页&nbsp;
            </div>
            
                <!-- <li class="paginItem"><a href="javascript:;"><span class="pagepre"></span></a></li>
                <li class="paginItem"><a href="javascript:;">1</a></li>
                <li class="paginItem current"><a href="javascript:;">2</a></li>
                <li class="paginItem"><a href="javascript:;">3</a></li>
                <li class="paginItem"><a href="javascript:;">4</a></li>
                <li class="paginItem"><a href="javascript:;">5</a></li>
                <li class="paginItem more"><a href="javascript:;">...</a></li>
                <li class="paginItem"><a href="javascript:;">10</a></li>
                <li class="paginItem"><a href="javascript:;"><span class="pagenxt"></span></a></li> -->
                <link rel="stylesheet" href="__STATIC__/bootstrap.min.css">
                {$goods->render()}
            
        </div>
        <div class="tip">
            <div class="tiptop"><span>提示信息</span>
                <a></a>
            </div>
            <div class="tipinfo">
                <span><img src="__STATIC__/admin/images/ticon.png" /></span>
                <div class="tipright">
                    <p>是否确认对信息的修改 ？</p>
                    <cite>如果是请点击确定按钮 ，否则请点取消。</cite>
                </div>
            </div>
            <div class="tipbtn">
                <input name="" type="button" class="sure" value="确定" />&nbsp;
                <input name="" type="button" class="cancel" value="取消" />
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('.tablelist tbody tr:odd').addClass('odd');
    </script>
</body>

</html>
